# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
=======
/bin
/obj
/.vs
/IdentityServer/bin
/IdentityServer/obj
/IdentityServer/.vs
/docker-compose/bin
/docker-compose/obj
/WebClient/obj
/WebClient/bin
